@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i');
html {
  &, body {
    position: fixed;
    overflow: hidden;
  }
}
body {
  background-color: white;
  background: asset_url('bg0.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: background-image 2s ease-in-out;
  font-family: 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.main-wrapper {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.filter {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  opacity: 0.2;
}



.navigation-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 3.5rem;
  height: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 4vw;
  line-height: 100%;
  font-weight: 700;
  font-style: italic;
  color: white;

  li {
    a:hover {
      color: black;
    }
  }

  li:first-child {
    color: white;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 90%;

  font-size: calc(1rem + 1.4vw);
  color: white;
  line-height: 120%;

  b {
    font-weight: 600;
  }


  section {
    max-width: 60%;
    //margin-right: 10%;
    min-height: 100vh;
    padding-top: 2rem;
    &:first-child {
      margin-top: calc(100vh);
    }
  }
}
