@mixin phablet        { @media (min-width: 550px)  { @content; } }
@mixin tablet         { @media (min-width: 750px)  { @content; } }
@mixin desktop        { @media (min-width: 1000px) { @content; } }

html {
  overflow: hidden;
  position: fixed;
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    @include phablet {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}

::-webkit-scrollbar {
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.background {
  background-color: white;
  background: asset_url('bg/bg2-small.jpg') no-repeat center center fixed;
  background-size: cover;
  transition: background-image 2s ease-in-out;
  z-index: -2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  bottom: 0;
  @include phablet {
    background: asset_url('bg/bg2.jpg') no-repeat center center fixed;
    background-size: cover;
  }
}

.filter {
  /*@include phablet { */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2;
    z-index: -1;
//  }
}

.navigation-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-;
  font-size: 3.4rem;
  line-height: 100%;
  font-family: "HelveticaNeue-BoldItalic", Helvetica, sans-serif;
  color: white;
  height: 100vh;
  min-height: 56.8rem;
  flex-shrink: 1;
  flex-grow: 0;
  width: 30rem;
  z-index: 3;
  margin-left: 2rem;
  -webkit-overflow-scrolling: touch;

  transition: opacity 0.25s;

  &.hide {
    opacity: 0;
    z-index: -1;
    @include phablet {
      opacity: 1;
      z-index: auto;
    }
  }

  @include phablet {
    font-size: 4rem;
    margin-right: 7.4rem;
    padding-right: 4rem;
    margin-left: 6.8rem;
    line-height: 120%;
  }

  li {
    a {
      transition: color .25s;
      &.active, &:hover, &.fake-hover {
        color: black;
      }
    }
  }

  li:first-child {
    color: white;
  }
}

.main-content {
  z-index: 2;
  font-size: 2.4rem;
  color: white;
  line-height: 115%;
  opacity: 0;
  height: 100%;
  width: 100vw;
  font-family: "HelveticaNeue-BoldItalic", Helvetica, sans-serif;
  position: absolute;
  overflow: hidden;
  font-size: 2rem;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s;

  &.show {
    opacity: 1;
  }

  @include phablet {
    overflow-y: scroll;
    opacity: 1;
    background-color: transparent;
    padding-top: 0;
    display: block;
    position: relative;
    width: initial;
    height: 100vh;
    min-width: 40rem;
    font-size: 2.8rem;
  }

  .close {
    background-color: transparent;
    fill: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.8rem;
    height: 3.8rem;
    background-image: asset_url('close.png');

    @include phablet {
      display: none;
    }
  }

  b {
    font-weight: 600;
  }

  .content-section.dates {
    div {
      margin-left: 2.9em;
      text-indent: -2.9em;
    }

    &.show {
      margin-top: 6rem;
      @include phablet {
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
      }
      text-transform: uppercase;
    }
  }

  .content-section {
    opacity: 0;
    flex-grow: 0;
    overflow-y: auto;
    height: 0;
    width: calc(100vw - 2rem);
    transition: opacity 0.25s;

    &.show {
      margin: 5rem 0 2rem 1rem;
      padding-bottom: 4rem;
      opacity: 1;
      height: calc(100vh - 14rem);
      @include phablet {
        padding: 0;
        margin: 16.5rem 4rem 4rem 0;
        height: auto;
      }
    }


    .location {
      font-family: "HelveticaNeue-Bold", Helvetica, sans-serif;
    }

    @include phablet {
      overflow-y: auto;
      position: relative;
      margin: 0;
      width: auto;

    }
  }
}
